body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/image/table.png);
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

h1{
    color: goldenrod;
    font-size: 80px;
}    

/* .centre{
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
#message-el{
    font-style: italic;
}
#btn{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border: none;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}
#btn_dup{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border: none;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}
